@use 'styles/mixins' as mixins;

.user-item {
    display: flex;
    align-items: center;
    height: 65px;

    .edit-btn {
        @include mixins.secondary-button;
        margin-left: auto;
        width: 80px;
        height: 37px;
        border: 2px solid #5fa5f5;
    }
    .delete-btn {
        @include mixins.secondary-button;
        margin-left: 15px;
        width: 80px;
        height: 37px;
    }
}