.edit-message-modal {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    height: 100%;
  
    background-color: rgba(0, 0, 0, 0.3);
  
    overflow-y: auto;
  }