.preloader {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ldio-7jctbi1igtl {
    background-color: white;
}

@keyframes ldio-7jctbi1igtl {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
}

.ldio-7jctbi1igtl div { box-sizing: border-box!important }
.ldio-7jctbi1igtl > div {
    position: absolute;
    width: 94px;
    height: 94px;
    top: 53px;
    left: 53px;
    border-radius: 50%;
    border: 10px solid #000;
    border-color: #93dbe9 transparent #93dbe9 transparent;
    animation: ldio-7jctbi1igtl 1s linear infinite;
}
.ldio-7jctbi1igtl > div:nth-child(2) { border-color: transparent }
.ldio-7jctbi1igtl > div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-7jctbi1igtl > div:nth-child(2) div:before, .ldio-7jctbi1igtl > div:nth-child(2) div:after { 
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -10px;
    left: 32px;
    background: #93dbe9;
    border-radius: 50%;
    box-shadow: 0 84px 0 0 #93dbe9;
}
.ldio-7jctbi1igtl > div:nth-child(2) div:after { 
    left: -10px;
    top: 32px;
    box-shadow: 84px 0 0 0 #93dbe9;
}
.loadingio-spinner-dual-ring-ow9lzgwd1ra {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
}
.ldio-7jctbi1igtl {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-7jctbi1igtl div { box-sizing: content-box; }
  /* generated by https://loading.io/ */