@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.message-input {
    display: flex;
    align-items: center;
    background-color: variables.$input-background-color-secondary;
    padding: 8px;
    padding-left: 15px;
    margin-top: 15px;
    border-radius: 65px;

    .message-input-text {
        @include mixins.input-text-font;
        flex-grow: 1;
        height: 30px;
        margin-left: 15px;
        background-color: variables.$input-background-color-secondary;
        border: none;
        color: variables.$message-text-color-secondary;

        &:focus {
            outline: none;
        } 
    }

    .message-input-button {
        @include mixins.input-button-font;
        @include mixins.primary-button;
        width: 50px;
        height: 50px;
        margin-left: auto;
        border-radius: 50%;
    }
}