@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid variables.$header-border-color;
    padding: 20px;
    @include mixins.secondary-font;

    .main-info {
        margin-left: 20px;

        .header-title {
            @include mixins.header-title-font;
            color: variables.$header-text-color-primary;
            margin-bottom: 5px;
        }
        .header-users-count {
            margin-right: 5px;
        }
    }
    .header-last-message-date {
        margin-left: auto;
    }
}