// header colors
$header-text-color-primary: #262729;
$color-secondary: #95AAC9;
$header-border-color: #EBF1F7;

// message background colors
$message-text-background-primary: #2787F5;
$message-text-background-secondary: #F6F9FB;
// message font colors
$message-text-color-primary: #FFFFFF;
$message-text-color-secondary: #95AAC9;

// input background colors
$input-background-color-primary: #2787F5;
$input-background-color-secondary: #EBF1F7;
// input font colors
$input-text-color-primary: #2f4480;
$input-text-color-secondary: #8E9CB2;

//divider font color
$divider-text-color-secondary: #8E9CB2;

//warning
$login-warning-text-color: red;